@mixin font-face($name, $path, $weight, $style) {
  @font-face {
    font-family: $name;
    src:
      url($path + ".woff2") format("woff2"),
      url($path + ".woff") format("woff");
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@mixin mobile-only() {
  @media (width < $breakpoint-tablet-small) {
    @content;
  }
}


@mixin tablet-small() {
  @media ($breakpoint-tablet-small <=width) {
    @content;
  }
}

@mixin tablet-small-only() {
  @media ($breakpoint-tablet-small <=width < $breakpoint-tablet) {
    @content;
  }
}

@mixin tablet() {
  @media ($breakpoint-tablet <=width) {
    @content;
  }
}

@mixin tablet-only() {
  @media ($breakpoint-tablet <=width < $breakpoint-desktop-small) {
    @content;
  }
}

@mixin desktop-small() {
  @media ($breakpoint-desktop-small <=width) {
    @content;
  }
}

@mixin desktop-small-only() {
  @media ($breakpoint-desktop-small <=width < $breakpoint-desktop) {
    @content;
  }
}

@mixin not-desktop() {
  @media (width < $breakpoint-desktop) {
    @content;
  }
}

@mixin desktop() {
  @media ($breakpoint-desktop <=width) {
    @content;
  }
}
