// Цвета

// Шрифты
$font-primary: "Inter", "Arial", sans-serif;

// Размеры вьюпортов
$breakpoint-desktop: 1440px;
$breakpoint-tablet: 744px;
$breakpoint-mobile: 360px;

$container-padding-mobile: 15px;
$container-padding-tablet: 20px;
$container-padding-desktop: 60px;
